html {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

.bodywrapper {
    display:flex;
    flex-direction: column;
    margin: 0 auto;
}

.kitty {    
    width: 50%;
    height: auto;
    margin:auto;
}

.one {
    color:rgb(135, 192, 173);
    font-size: 32px;
    margin:auto;
    text-align: center;
}