html {
  background-image: url("../images/background6.jpg");
  background-size: cover;
  background-repeat: repeat;
  font-family: sans-serif;
}

/*HEADING-TUNING MENU AND TUNE UP LOGO*/
#tuningMenu {
  position: relative;
  margin-top: 20px;
  padding-left: 20px;
  height: 50px;
  width: 350px;
  text-align: left;
  font-size: 30px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  background-color: black;
  color: white;
  border-radius: 100px;
  filter: drop-shadow(10px 10px 10px black);
  cursor: pointer;
  & {
    @media (width <= 980px) {
      font-size: 6vw;
      margin-left: 5vw;
      margin-top: 2vw;
      padding-left: 8vw;
      height: auto;
      width: 70vw;
      text-align: left;
      border-radius: 5vw;
    }
  }
}

option {
  font-weight: lighter;
  font-size: 26px;
  & {
    @media (width <= 980px) {
      font-weight: lighter;
      font-size: 5vw;
    }
  }
}

/*BODY- BCK IMG, BUTTONS, LETTERS, LOGO*/
.bodyWrapper {
  margin-top: 10px;
  width: fit-content;
  justify-content: center;
}

.guitar {
  position: absolute;
  z-index: 1;
  width: 1600px;
  height: 1000px;
  background-image: url("../images/guitar5.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(10px 10px 10px black);

  & {
    @media (width <= 980px) {
      transform: rotate(-90deg);
    }
  }
}

/*NOTE CHARACTERS THAT APPEAR WHEN BUTTONS ARE PRESSED*/
.noteWrapper {
  position: absolute;
  z-index: 2;
}

.noteLetters {
  margin-top: 80px;
  margin-left: 850px;
  color: white;
  position: absolute;
  text-shadow: 2px 2px 12px rgb(107, 86, 48);
  font-size: 100px;
  & {
    @media (width <= 980px) {
      left: 35vw;
      font-size: 45vw;
      top: 15vh;
    }
  }
  & {
    @media (620px <= width <= 980px) {
      left: 40vw;
      font-size: 30vw;
      top: 10vh;
    }
  }
  & #noteLetter6 {
    @media (width <= 980px) {
      position: absolute;
    }
  }
  & #noteLetter5 {
    @media (width <= 980px) {
      position: absolute;
    }
  }
  & #noteLetter4 {
    @media (width <= 980px) {
      position: absolute;
    }
  }
  & #noteLetter3 {
    @media (width <= 980px) {
      position: absolute;
    }
  }
  & #noteLetter2 {
    @media (width <= 980px) {
      position: absolute;
    }
  }
}
#noteLetter5 {
  margin-top: 20px;
}
#noteLetter4 {
  margin-top: 30px;
}
#noteLetter3 {
  margin-top: 20px;
}

#noteLetter2 {
  margin-top: 20px;
}
#noteLetter1 {
  margin-top: 10px;
}


/* AUDIO BUTTONS */
.button-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 230px;
  margin-left: 1450px;
  & {
    @media (width <= 980px) {
      display: contents;
    }
  }
}

.button {
  z-index: 2;
  margin-top: 25px;
  background-color: #848670;
  border-radius: 100px;
  border-style: none;
  color: #ece5ea;
  cursor: pointer;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 26px;
  padding: 8px 16px;
  text-align: center;
  box-shadow: 4px 2px tan;
  & {
    @media (width <= 980px) {
      margin-top: 50vh;
      margin-left: 4.75vw;
      font-size: 6.5vw;
      padding: 1vw 3vw;
      box-shadow: 2px 1px tan;
    }
  }
}

.button:hover {
  background: #f6f9fe;
  color: #e6d81e;
}

.button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

/*CODE KITTEN ICON*/
.cat {
  max-height: 175px;
  position: absolute;
  margin-top: 900px;
  z-index: 3;
  filter: drop-shadow(10px 5px 5px black);
  cursor: pointer;
  & {
    @media (width <= 980px) {
      visibility: hidden;
      height: 1px;
    }
  }
}

/*ON HOVER SIGNS*/
/* #pets {
  margin-top: 45vh;
  left: 5vw;
  position: absolute;
  visibility: hidden;
  & {
    @media (width <= 980px) {
      visibility: hidden;
      height: 1px;
    }
  }
}

#sign {
  position: absolute;
  top: 5vw;
  left: 10vw;
  height: 35vh;
  visibility: hidden;
  & {
    @media (width <= 980px) {
      height: 1px;
      width: 1px;
      top: 1000px;
    }
  }
} */
